ion-slide {
	height: 100vh;
	flex-direction: column;
	text-align: justify;
}

ion-img{
	max-width: 49vw;
	max-height: 49vh;
}

p{
	font-size:12px;
}
ion-content {
  --background: url('/assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}