<ion-content>
	<div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>

	<h3> Categoria </h3>
	<p> La categoria del reportes es {{(reporte | async)?.Categoria}} , reportado
		el {{(reporte | async )?.Fecha?.toDate()| date :'yyyy-MM-dd HH:mm:ss-SS'}}
	</p>

	<h3> Usuario que lo reporto </h3>
	<p> El usuario que hizo este reporte fue: {{ (reporte | async)?.Usuario}}

	</p>

	<h3> Estación del incidente </h3>

	<p> La estación del incidente fue: {{ (reporte | async)?.Estacion}} </p>

	<h3> Detalles del incidente </h3>

	<p> Los detalles del incidente fueron: {{ (reporte | async)?.DetallesIncidente}} </p>

	<h3> Sugerencia de los usuarios </h3>

  <p> La sugerencia de los usuarios es: {{ (reporte | async)?.Sugerencia}} </p>

	<ion-button size ="medium" (click)="confirma()">Confirmar incidente</ion-button>

  <ion-button  size="medium" (click)="falso2()" color="success">
  Reporte Falso </ion-button>
	<p> El incidente lleva {{incidente_falso}} puntos confirmados de que ha sido reportado como falso</p>

	<p> El incidente lleva {{ incidente_verdadero}} puntos confirmados de verídico {{respuesta}} </p>

	 <h2 class="ion-text-center">{{ (reporte | async)?.Estacion}}</h2>

  <ion-card color="light" class="ion-text-center" *ngFor="let item of images | async">
    <ion-card-header>
      
    </ion-card-header>

    <ion-card-content>
      <img [src]="item.filepath" />
     
    </ion-card-content>
  </ion-card>


</ion-content>