<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>reportar</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <p>Las Categorias que se pueden reportar son: </p>
  <ul>
  <li>Accidente </li>
  <li>Retardo </li>
  <li>Fuera de servicio </li>
  <li> Saturación </li>
  <li>otro </li>

</ul>

<form [formGroup]="createReportForm" (submit)="createReport()">
	<ion-item>
		<ion-label stacked> Categoria</ion-label>
		<ion-input
		formControlName="Categoria"
		type="text"
		placeholder="¿Qué tipo de incidente es?"
		>
	</ion-input>
</ion-item>

<ion-item>
		<ion-label stacked> Estacion</ion-label>
		<ion-input
		formControlName="Estacion"
		type="text"
		placeholder="¿Qué estación es?"


      >

	</ion-input>
  </ion-item>




	<ion-item>
		<ion-label stacked> Usuario</ion-label>
		<ion-input
		formControlName="Usuario"
		type="text"
		placeholder={{name}}
		>
	</ion-input>
</ion-item>

<ion-item>
		<ion-label stacked> Fecha</ion-label>
		<ion-input
		formControlName="Fecha"
		type="text"
		placeholder="Por favor digite la hora y fecha en que hace el reporte"
		>
	</ion-input>
</ion-item>


	<ion-item>
		<ion-label stacked> Detalles</ion-label>
		<ion-textarea
		formControlName="DetallesIncidente"
		type="text"
		placeholder="Menciona los detalles del incidente"
		>
	</ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked> Sugerencia</ion-label>
  <ion-textarea
  formControlName="Sugerencia"
  type="text"
  placeholder="Favor de agregar una sugerencia para los usuarios"
  >
</ion-textarea>
</ion-item>

<ion-button expand="block" type="submit" [disabled]="!createReportForm.valid">
	Agregar reporte
</ion-button>
<ion-label> Para editar un reporte es necesario que elimine el actual que hizo </ion-label>
</form>

</ion-content>
