<ion-content>
 <!--  <p>Las Categorias que se pueden reportar son: </p>
  <ul>
  <li>Accidente </li>
  <li>Retardo </li>
  <li>Fuera de servicio </li>
  <li> Saturación </li>
  <li>otro </li>

</ul> -->

<div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>
<ion-list>
  <ion-item>
    <ion-label>Seleccione la categoria del percance</ion-label>
    <ion-select #newSelect [(ngModel)]="carbrand" (ionChange)="onChange(carbrand)">
      <ion-select-option value="Accidente">Accidente</ion-select-option>
      <ion-select-option value="Retardo">Retardo</ion-select-option>
      <ion-select-option value="Fuera de Servicio">Fuera de Servicio</ion-select-option>
      <ion-select-option value="Saturacion">Saturacion</ion-select-option>
      <ion-select-option value = "otro">Otro </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>Seleccione la estación</ion-label>
    <ion-select #newSelect [(ngModel)]="estacion" (ionChange)="onChange2(estacion)">
      <ion-select-option value="Ciudad Azteca">Ciudad Azteca</ion-select-option>
      <ion-select-option value="Plaza Aragon">Plaza Aragon</ion-select-option>
      <ion-select-option value="Olimpica">Olimpica</ion-select-option>
      <ion-select-option value="Ecatepec">Ecatepec</ion-select-option>
      <ion-select-option value = "Muzquiz">Muzquiz </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<form [formGroup]="createReportForm" (submit)="createReport()">
<!-- 	<ion-item>
		<ion-label stacked> Categoria</ion-label>
		<ion-input
		formControlName="Categoria"
		type="text"
		placeholder="¿Qué tipo de incidente es?"
		>
	</ion-input>
</ion-item> -->

<!-- <ion-item>
		<ion-label stacked> Estacion</ion-label>
		<ion-input
		formControlName="Estacion"
		type="text"
		placeholder="¿Qué estación es?"


      >

	</ion-input>
  </ion-item> -->




	<ion-item>
		<ion-label stacked> Usuario</ion-label>
		<ion-input
		formControlName="Usuario"
		type="text"
		placeholder={{name}}
		>
	</ion-input>
</ion-item>

<ion-item>
		<ion-label stacked> Fecha</ion-label>
		<ion-input
		formControlName="Fecha"
		type="text"
		placeholder="Por favor digite la hora y fecha en que hace el reporte"
		>
	</ion-input>
</ion-item>


	<ion-item>
		<ion-label stacked> Detalles</ion-label>
		<ion-textarea
		formControlName="DetallesIncidente"
		type="text"
		placeholder="Detalles para los usuarios"
		
		>
	</ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked> Sugerencia</ion-label>
  <ion-textarea
  formControlName="Sugerencia"
  type="text"
  placeholder="Sugerencia para los usuarios"
  >
</ion-textarea>
</ion-item>

<ion-button expand="block" type="submit" [disabled]="!createReportForm.valid">
	Agregar reporte
</ion-button>
<ion-label> Para editar un reporte es necesario que elimine el actual que hizo </ion-label>
</form>


</ion-content>
