<ion-header>
  <ion-toolbar>
    <ion-title>estado_metro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card
 *ngFor="let reporte of reporte | async"
 routerLink="/detalles/{{reporte.id}}"
 >
 <ion-card-header> <h2>Categoria: {{reporte.Categoria}} </h2>
 	<h2> Estacion del percance: {{reporte.Estacion}} </h2>
 	

 </ion-card-header>
 <ion-card-content> 
 	<h3> Reportado por: {{reporte.Usuario}}</h3>
 	<h3> Fecha: {{reporte.Fecha}} </h3>
 </ion-card-content>
</ion-card>

</ion-content>
