<ion-app>
    <ion-content>
      
     
 

      <ion-card>
           

        <ion-card-header>

        </ion-card-header>

        <ion-card-content *ngFor ="let metro of metrofeed">
           <h1><p>{{metro.description}}</p></h1>
          <ion-img [src]="metro.img"></ion-img>

          <p>  Esta es la última actualización del metro
        Si deseas obtener más información, consulta twitter</p>
        </ion-card-content>
        
         
   
     <ion-card-content>
          <p> Horarios</p>
          <p> Lunes a viernes</p>
          <p> 5:00 a 0:00 hrs</p>
          <p> Sábados</p>
          <p> 6:00 a 0:00 hrs </p>
          <p> Domingos y días festivos </p>
          <p> 7:00 a 0:00 hrs </p>
    </ion-card-content>
    <ion-card-content>
      <p> Costo de la tarjeta </p>
      <p> $15.00 incluye un pasaje</p>
      <p> Costo del boleto o viaje </p>
      <p>$5.00 </p>

    </ion-card-content>
      </ion-card>

       <ion-item lines="full" (click)="openTwitter('MetroCDMX')">
    <ion-icon name="logo-twitter" slot="start" color="secondary"></ion-icon>
    MetroCDMX
    <br>
  
  </ion-item>
    <ion-button routerLink="/rutametro"> Consulta la ruta del metro </ion-button>
  

  
    </ion-content>
  </ion-app>
