<ion-header>
  <ion-toolbar>
    <ion-title>reporte_iconos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>
	<ion-searchbar
	showcancelbutton=""
	(ionInput)="filterList($event)"
	></ion-searchbar>

	<ion-list lines ="none">
		<ion-item *ngFor="let estacionItem of estaciones">
			<ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{estacionItem.name}}</h3>
          </ion-text>
          <p>{{estacionItem.type}}</p>
          <ion-button  size="medium" routerLink="/reportar" color="success">
         Reportar </ion-button>
         <ion-button  size="medium" routerLink="/estado-metro" color="success">
         Ver notificaciones </ion-button>
          </ion-label>
          </ion-item>
          </ion-list>


</ion-content>
