<ion-header>
  <ion-toolbar>
    <ion-title>Usuario registrado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="{{ photo }}?width=100" alt="">
<p> Bienvenido a la aplicación  {{name}}</p>


  <ion-button expand="block" routerLink="../status-chat">Chat de estaciones del metro</ion-button>

  <ion-button  size="medium" routerLink="/timeline" color="success">
  Información de twitter </ion-button>
  <ion-button expand="block" (click)="Onlogout()">Desconectarse</ion-button>
</ion-content>
