<ion-header>
  <ion-toolbar>
    <ion-title>Usuario registrado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>

   
  <div text-center class="socialLogin" padding> 
  <ion-button size="small" routerLink="../status-chat">Chat de estaciones del metro</ion-button>


  <ion-button  size="small" routerLink="/timeline" color="success">
  Información de twitter </ion-button>
  <ion-button  size="small" routerLink="/encuentrame" color="success">
  Encuentrame </ion-button>
  <ion-button size="small" (click)="Onlogout()">Desconectarse</ion-button>
   <ion-button  size="small" routerLink="/reportar" color="success">
  Reportar </ion-button>
  <ion-button  size="small" routerLink="/estado-metro" color="success">
  Ver notificaciones </ion-button>
  <ion-button  expand="small" routerLink="/reporte-iconos" color="success">
  Lista metro </ion-button>
      
</div>



</ion-content>
