<ion-content>
<div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>

   
  <div text-center class="socialLogin" padding> 
  <ion-button size="small" routerLink="../status-chat">Consulta el chat de las líneas del metro</ion-button>


  <ion-button  size="small" routerLink="/timeline" color="success">
 Información de STC Metro </ion-button>
  <ion-button  size="small" routerLink="/encuentrame" color="success">
  ¿Qué estaciones me quedan cerca? </ion-button>
  <ion-button  size="small" routerLink="/estado-metro-sin-registro" color="success">
  Ver notificación sobre los reportes </ion-button>
  <ion-button  expand="small" routerLink="/reporte-iconos" color="success">
  Busca una estación en particular </ion-button>
      
</div>



</ion-content>
