.main-content {
   
    
    min-height: 100%;
  }

  .container-logo {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    img {
      max-width: 250px;
    }
  }

  .sepretor-or p {
    color: white  ;
    font-size: 16px;
    text-transform: lowercase;
  }
  .sepretor-or p::before,
  .sepretor-or p::after {
    float: left;
    width: -webkit-calc(48% - 10px);
    width: -moz-calc(48% - 10px);
    width: calc(48% - 10px);
    display: inline-block;
    height: 1px;
    margin-top: 8px;
    background-image: url('/assets/seprator.png');
    background-repeat: repeat;
    content: '';
  }
  .sepretor-or p::after {
    float: right;
  }

  .form-bottom-text {
    display: inline-block;
    width: 100%;
  }

  .socialLogin {
    float: left;
    width: 100%;
    text-align: center;
  }
  .google{
  --background: #DB4437;
}

.facebook{
  --background: #4267B2
}

ion-content {
  --background: url('/assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

 .form-bottom-text label,
  a {
    color: white;
  }