<ion-header>
  <ion-toolbar>
    <ion-title>status_chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
  <ion-item>
    <ion-avatar slot="start">
    	<ion-img src="https://fotos-11.s3.amazonaws.com/metrocdmx/Linea+1+metro.png"></ion-img>
</ion-avatar>
<ion-label>
	<h2> Línea 1</h2>
	<h3> Observatorio - Pantitlan </h3>
	<p> Vea los mensajes de los usuarios</p>
	</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
    	<ion-img src="https://fotos-11.s3.amazonaws.com/metrocdmx/Linea+1+metro.png"></ion-img>
</ion-avatar>
<ion-label>
	<h2> Línea 2</h2>
	<h3> Observatorio - Pantitlan </h3>
	<p> Vea los mensajes de los usuarios.</p>
	</ion-label>
  </ion-item>
  <ion-item>
        <ion-avatar slot="start">
    	<ion-img src="https://fotos-11.s3.amazonaws.com/metrocdmx/Linea+1+metro.png"></ion-img>
</ion-avatar>
<ion-label>
	<h2> Línea 3</h2>
	<h3> Observatorio - Pantitlan </h3>
	<p> Vea los mensajes de los usuarios.</p>
	</ion-label>
  </ion-item>
  <ion-item>
        <ion-avatar slot="start">
    	<ion-img src="https://fotos-11.s3.amazonaws.com/metrocdmx/Linea+1+metro.png"></ion-img>
</ion-avatar>
<ion-label>
	<h2> Línea 4</h2>
	<h3> Observatorio - Pantitlan </h3>
	<p> Vea los mensajes de los usuarios.</p>
	</ion-label>
  </ion-item>
 
</ion-list>

</ion-content>
