<ion-content padding>
	<div padding text-center class="container-logo">
      <img src="assets/logo.png">
    </div>
<ion-card
 *ngFor="let reporte of reporte | async"
 routerLink="/detalles-sin-registro/{{reporte.id}}"
 >
 <ion-card-header> <h2>Categoria: {{reporte.Categoria}} </h2>
 	<h2> Estacion del percance: {{reporte.Estacion}} </h2>
 	

 </ion-card-header>
 <ion-card-content> 
 	<h3> Reportado por: {{reporte.Usuario}}</h3>
 	<h3> Fecha: {{reporte.Fecha?.toDate() | date :'yyyy-MM-dd HH:mm:ss-SS'}} </h3>
 </ion-card-content>
</ion-card>

</ion-content>