<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP METROCDMX
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
   <div class="main-content">
 

   <!--  <ion-button expand="full" routerLink="/timeline" color="danger" (click)="routingViaAngular()">
  Estaciones del metro </ion-button> -->
   
    
      <div padding text-center class="container-logo">
     
     <img src="assets/logo.png" />
   </div>
 <div padding class="container-bottom">
 <ion-list>
 
    <ion-item padding-right>
    <ion-label positions="floating"> Correo electronico </ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label positions="floating"> Contraseña </ion-label>
    <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
  
</ion-list>
  <br>
  <ion-button (click)="onSubmitLogin()" expand="block"ion-button full color="dark">Entrar</ion-button>
  


</div>
 <div class="ion-text-center ion-margin-top">
    <a routerLink="/reset-pass"><small>Olvidé mi Contraseña</small></a>
  </div>
  <div class="sepretor-or" padding-horizontal> <p>Or</p></div>
  <ion-grid>
    <ion-row>
      <div text-center class="socialLogin" padding>
      
        
        <ion-button class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google" style="margin-right: 12px;"></ion-icon>Inicia con Google +
        </ion-button>
      
    

        
        
        <ion-button class="facebook" (click)="loginFacebook()">
          <ion-icon name="logo-facebook" style="margin-right: 12px;"></ion-icon> Inicia con Facebook
        </ion-button>
       
      </div>
    </ion-row>
  </ion-grid>
  <div class="sepretor-or" padding-horizontal> <p>Or</p></div>
  <div padding text-center class="form-bottom-text">
  <ion-button expand="block" routerLink="../registro">No tengo una cuenta</ion-button>
  </div>
    <div padding text-center class="form-bottom-text">
   <ion-button color="medium" expand="block" routerLink="../sin-registro">Acceder sin registrarme</ion-button>
 </div>
  <ion-item lines="full" (click)="openTwitter('MetroCDMX')">
    <ion-icon name="logo-twitter" slot="start" color="secondary"></ion-icon>
    MetroCDMX
    <br>
  
  </ion-item>

 
  

</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Subtrack 2020</ion-title>
    
  </ion-toolbar>
</ion-footer>